* {
    padding: 0;
    margin: 0;
}

section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

    section .menu_admin,
    section .contenido_admin {
        display: inline-block;
        height: 100%;
        overflow: auto;
    }

    section .contenido_admin {
        width: calc(100% - 110px);
        background: #fafafa;
        text-align: center;
    }

    section .menu_admin {
        width: 100px;
        text-align: center;
        background: #1a344c;
        color: #ffffff;
    }

        section .menu_admin a {
            width: 100px;
            text-decoration: none;
            color: #fff;
            cursor: pointer;
        }

            section .menu_admin a:hover p {
                background: #274e72;
            }

            section .menu_admin a .icono {
                font-size: 25px;
                padding: 10px 5px 0px;
            }

            section .menu_admin a p {
                padding: 0px 5px 10px;
                font-size: 12px;
            }
