.contenido_global {
    background: #fff;
    width: 100%;
    height: 1%;
    overflow: hidden;
}

    .contenido_global .error {
        font-size: 75px;
        text-align: center;
        font-weight: bold;
    }

    .contenido_global .panel_perfil,
    .contenido_global .info_perfil {
        background: rgba(0,0,0,0.1);
        margin: 10px 10px;
        float: left;
        height: 100%;
        text-align: center;
    }

    .contenido_global .panel_perfil {
        width: 200px;
        color: #1a344c;
    }

        .contenido_global .panel_perfil .fotoperfil {
            background: #fff;
            margin: 15px 0px 5px;
            font-size: 200px;
            border: 5px solid #000000;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        .contenido_global .panel_perfil h2 {
            font-weight: bold;
        }

        .contenido_global .panel_perfil h3 {
            padding: 10px 0px;
        }

    .contenido_global .info_perfil {
        width: calc(100% - 240px);
    }

        .contenido_global .info_perfil .botones .botonUsuario {
            -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
            -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
            box-shadow: inset 0px 1px 0px 0px #ffffff;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
            background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
            background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
            background-color: #f9f9f9;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: 1px solid #dcdcdc;
            display: inline-block;
            cursor: pointer;
            color: #666666;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #ffffff;
            margin-right: 10px;
        }

            .contenido_global .info_perfil .botones .botonUsuario:hover {
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
                background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
                background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
                background-color: #e9e9e9;
            }

            .contenido_global .info_perfil .botones .botonUsuario:active {
                position: relative;
                top: 1px;
            }

        .contenido_global .info_perfil h2 {
            font-size: 35px;
            background: #f9f9f9;
            padding: 10px 0px 2px;
            border-bottom: 1px dotted #808080;
        }

        .contenido_global .info_perfil p {
            display: inline-block;
            font-size: 25px;
            padding: 10px 0;
            border-bottom: 1px dashed #808080;
        }

        .contenido_global .info_perfil .dato .tipo {
            font-weight: bold;
        }

        .contenido_global .info_perfil table {
            width: 100%;
            border: 1px solid #777777;
            background: #fff;
        }

            .contenido_global .info_perfil table th,
            .contenido_global .info_perfil table td {
                border-bottom: 1px solid #ddd;
            }

            .contenido_global .info_perfil table th {
                font-size: 20px;
                font-weight: bold;
            }


        .contenido_global .info_perfil .formulario {

            height: 100%;
            width: 400px;
            border-radius: 6px;
            display: inline-block;
            color: #000;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-shadow: 0px 1px 0px #fff;
            text-align: center;
        }

        .contenido_global .info_perfil .txt_formulario {
            width: 400px;
            text-align: center;
            padding: 7px 0px;
            border-radius: 7px 7px 7px 7px;
            -moz-border-radius: 7px 7px 7px 7px;
            -webkit-border-radius: 7px 7px 7px 7px;
            border: 0px solid #000000;
        }
