* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    background: #0a435c;
    border-bottom: 2px solid #000000;
    position: fixed;
    top: 0;
    z-index: 100;
}

    header .cabecera {
        height: 80px;
        float: left;
    }

        header .cabecera #logo {
            padding: 0px 5px;
        }

            header .cabecera a img {
                height: 75px;
                width: 140px;
                padding-top: 5px;
                text-align: center;
            }

    header .user_search {
        width: calc(100% - 300px);
    }

    header .cabecera #buscador {
        padding-top: 10px;
        width: 100%;
        height: 30px;
    }

        header .cabecera #buscador #barra_search {
            height: 29px;
            font-size: 15px;
            min-width: 100px;
            width: calc(100% - 70px);
            padding: 5px 5px 5px 5px;
            border-radius: 5px 0px 0px 5px;
            -moz-border-radius: 5px 0px 0px 5px;
            -webkit-border-radius: 5px 0px 0px 5px;
            border: 0px solid #ffffff;
            color: #000;
        }

        header .cabecera #buscador #btn_search {
            margin-left: -7px;
            height: 30px;
            font-size: 12px;
            width: 65px;
            padding: 5px 5px 5px 0px;
            border-radius: 0px 5px 5px 0px;
            -moz-border-radius: 0px 5px 5px 0px;
            -webkit-border-radius: 0px 5px 5px 0px;
            border: 0px solid #ffffff;
            background: #d97d0d;
            color: #ffffff;
        }

    header .cabecera #iniciarsesion {
        height: 30px;
        padding-top: 1px;
    }

        header .cabecera #iniciarsesion a {
            text-decoration: none;
        }

        header .cabecera #iniciarsesion a,
        header .cabecera #iniciarsesion span {
            float: right;
            height: 30px;
            padding: 5px 5px;
        }

            header .cabecera #iniciarsesion a span,
            header .cabecera #iniciarsesion span {
                color: #ffffff;
                font-size: 17px;
                font-weight: bold;
                padding: 5px 0px;
            }


    header .cabecera .compra {
        text-decoration: none;
        position: relative;
        padding-top: 1px;
    }

    header .cabecera a:hover p,
    header .cabecera div a:hover{
        background: #125d8e;
    }

    header .cabecera a .CantidaProducto {
        padding-top: 3px;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: 80px;
        color: #fff;
        z-index: 3;
    }

    header .cabecera a .icon-circulo {
        padding-top: 1px;
        font-size: 30px;
        position: absolute;
        left: 70px;
        color: #a71d1d;
        z-index: 2;
    }

    header .cabecera a .icon-shopping-car {
        padding-top: 2px;
        text-align: center;
        font-size: 50px;
        color: #ffffff;
        z-index: 1;
    }

    header .cabecera a .titulo-car {
        width: 150px;
        height: 30px;
        font-size: 14px;
        text-align: center;
        font-weight: bolder;
        color: #ffffff;
        z-index: 3;
    }

.contenedorbody {
    padding-top: 80px;
}

footer .inicio {
    text-align: center;
    background: #0a435c;
    color: #fafafa;
    padding: 10px;
}

.inicio .foo_link, .inicio .foo_link_fin {
    width: 150px;
    height: 120px;
    margin: 0 auto;
    display: inline-block;
}

.inicio .foo_link {
    border-right: 1px solid #fafafa;
}

.foo_link li, .foo_link_fin li {
    width: 100%;
    padding: 2px 0px;
    list-style: none;
    text-align: left;
}

footer .fin {
    text-align: center;
    background: #0d0d0d;
    color: #fafafa;
    padding: 10px;
}
